* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

/* header  */
header {
  padding: 3.8rem 16.5rem 0px;
  background-color: #e6f0ff;
}

nav {
  display: flex;
  align-items: center;
}

.nav__menu {
  margin-left: 6.5rem;
}

.nav__menu a {
  color: #4f5361;
  margin-left: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.nav__buttons {
  margin-left: auto;
}

.nav__buttons--signUp {
  color: #0f1b4c;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: inherit;
}

.nav__buttons--register {
  background-color: #0f1b4c;
  color: #ffffff;
  border-radius: 0.8rem;
  width: 9.8rem;
  height: 4rem;
  margin-left: 1.8rem;
  font-size: 1.4rem;
}

.header__contents {
  display: flex;
}

.header__contents--text {
  margin-top: 13rem;
}

.header__contents--textWelcome {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.18px;
}

.header__contents--textHeading {
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.6rem;
  margin-top: 0.8rem;
}

.header__contents--textDetails {
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-transform: capitalize;
  margin-top: 3rem;
}

.header__contents--textDetails span {
  text-transform: lowercase;
}

.header__contents--textButton {
  background-color: #0f1b4c;
  color: #ffffff;
  width: 17rem;
  height: 5rem;
  border-radius: 1.2rem;
  margin-top: 4rem;
}

.header__contents--img {
  position: relative;
  left: 10rem;
  margin-top: 4.7rem;
}

/*  main */
main {
  margin-top: 7.9rem;
}

.main__clientsLogo {
  padding: 4.3rem 16.5rem 4.1rem;
}

.main__clientsLogo--content {
  display: flex;
}

.main__clientsLogo--contentText p {
  margin-top: 2.3rem;
  color: #7d8589;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
}

.main__clientsLogo--contentReview {
  margin-left: auto;
}

.main__clientsLogo--contentReview p {
  margin-top: 1rem;
  color: #7d8589;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
}

.main__clientsLogo--cards {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
}

/* Hiw */
.main__hiw {
  margin-top: 4rem;
  padding: 7.9rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__hiw--heading {
  color: #000339;
  font-size: 3.5rem;
  line-height: 6.5rem;
  font-weight: 600;
  position: relative;
}

.main__hiw--heading::before {
  content: "";
  position: absolute;
  width: 4.1rem;
  height: 0.4rem;
  background-color: #000336;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.2rem;
}

.main__hiw--des {
  color: #5a6473;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 400;
  margin-top: 2rem;
}

.main__hiw--types {
  margin-top: 7rem;
  display: flex;
}

.main__hiw--typesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__hiw--typesItem:nth-of-type(2) {
  margin: 0px 14rem;
}

.main__hiw--typesItem h5 {
  margin-top: 2.6rem;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.main__hiw--typesItem a {
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1rem;
}

.main__hiw--typesSellFull {
  width: 17rem;
  height: 5rem;
  border-radius: 1.2rem;
  background: #0f1b4c;
  color: #ffffff;
  margin-top: 5rem;
  font-size: 1.3rem;
}

/* features */
.main__features {
  margin-top: 4.1rem;
}

.main__features--1 {
  padding: 11rem 16.5rem;
  background-color: #f5fafe;
}

.main__features--1Text {
  display: flex;
  align-items: flex-end;
}

.main__features--1TextLeft h3 {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.main__features--1TextLeft p {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  margin-top: 1.5rem;
}

.main__features--1TextRight {
  margin-left: auto;
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}

.main__features--1Cards {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}

.main__features--1CardsItem {
  padding-bottom: 2.5rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}

.main__features--1CardsItemPrice {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.main__features--1CardsItemDes {
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.8rem;
  margin-left: 2rem;
}

.main__features--1CardsItemBedandBoth {
  margin-top: 2.1rem;
}

.main__features--1CardsItemBedandBoth img {
  margin-left: 2rem;
  margin-right: 1rem;
}

/* feature 2 */
.main__features--2 {
  margin-top: 7.5rem;
  padding: 5rem 19.6rem;
  height: 78.5rem;
}

.main__features--2Text {
  display: flex;
}

.main__features--2TextImg {
  position: relative;
  z-index: 1;
}

.main__features--2TextImgRedHouse {
  position: absolute;
  top: -7.4rem;
  left: 0.4rem;
  z-index: 2;
}

.main__features--2TextImgCard {
  position: absolute;
  width: 23.9rem;
  height: 25.2rem;
  border-radius: 0px 0px 1.2rem 1.2rem;
  background: #fff;
  box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
  z-index: 3;
}

.main__features--2TextHeading {
  margin-left: auto;
  margin-right: 5.4rem;
}

.main__features--2TextImgCardCount {
  display: flex;
}

.main__features--2TextHeading {
  width: 310px;
  height: 142px;
  margin-top: 100px;
}

.main__features--2TextHeading h2 {
  color: #000339;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px; /* 128.571% */
  position: relative;
}

.main__features--2TextHeading h2::before {
  content: "";
  position: absolute;
  width: 41px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #000339;
  top: -10px;
  left: 5px;
}

.main__features--2TextHeading p {
  color: #5a6473;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  margin-top: 2rem;
}

.main__features--2TextImgCardCount h5 {
  color: #000339;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.26px;
}

.main__features--2TextImgCardCount img {
  margin-left: auto;
}

.main__features--2Count {
  margin-top: 33.2rem;
  display: flex;
  justify-content: space-between;
}

.main__features--2CountItem h5 {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 6.4rem;
}

.main__features--2CountItem p {
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 2.4rem;
}

/* newsletter */
.main__newsletter {
  padding: 0px 16.5rem;
  margin-top: 5.1rem;
}

.main__newsletter--card {
  border-radius: 2rem;
  display: flex;
  position: relative;
}

.main__newsletter--card::after {
  content: "";
  position: absolute;
  background-color: #063183;
  width: 100%;
  height: 90%;
  border-radius: inherit;
  z-index: -1;
  bottom: 0;
}

.main__newsletter--card img {
  margin-left: auto;
}

.main__newsletter--cardText {
  margin-left: 8rem;
  margin-top: 14.9rem;
}

.main__newsletter--cardText h3 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 3.5rem;
}

.main__newsletter--cardText p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  margin-top: 1.5rem;
}

.main__newsletter--cardText button {
  width: 15.1rem;
  height: 5rem;
  color: #002366;
  border-radius: 1.2rem;
  margin-top: 2rem;
  background-color: #ffffff;
}

/* footer */
footer {
  padding: 5rem 16.5rem 5.8rem;
  margin-top: 5.5rem;
}

.footer__column {
  display: flex;
  justify-content: space-between;
}

.footer__columnItem h3 {
  color: #1c1c1d;
  /* font-family: Lato; */
  font-size: 2rem;
  font-weight: 700;
}

.footer__columnItemList {
  margin-top: 4.2rem;
}

.footer__columnItemList p {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1.8rem;
}

.footer__logo {
  margin-top: 8.1rem;
}
